$logo_background: rgba(220, 255, 255, .2)

logo
  width: 32px
  height: 32px
  background: $logo_background
  margin: 16px 28px 16px 0
  float: left

nz-header
  display: flex
  width: 100%
  // padding-right: 5px
  padding: 10px 10px 0px

header-left
  flex: 0.1
  float: left

header-center
  flex: 0.7

header-right
  flex: 0.2
  float: right

button.login-btn
  float: right
  margin: 5px
