<nz-header>
  <div nz-col nzSpan="2" class="header-left">
    <a id="logo">
      <!-- <img alt="logo" src="../../assets/img/logo.png"> -->
    </a>
  </div>
  <div nz-col nzSpan="16" class="header-center">
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'">
      <li nz-menu-item>Manage Nodes</li>
      <li nz-menu-item>Administrator</li>
    </ul>
  </div>
  <div nz-col nzSpan="6" class="header-right">
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'">
      <button class="login-btn" nz-button nzType="primary" ngClick="">Login</button>
    </ul>
  </div>
</nz-header>
