<nz-layout>
  <app-header></app-header>
  <nz-layout class="content">
    <!-- <app-sidebar></app-sidebar> -->
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzBreakpoint]="'lg'">
      <ul nz-menu [nzTheme]="'light'" [nzMode]="'inline'" [nzInlineCollapsed]="isCollapsed">
        <li nz-menu-item><span><i nz-icon type="user"></i><span class="nav-text">nav 1</span></span></li>
        <li nz-menu-item><span><i nz-icon type="video-camera"></i><span class="nav-text">nav 2</span></span>
        </li>
        <li nz-menu-item><span><i nz-icon type="upload"></i><span class="nav-text">nav 3</span></span></li>
        <li nz-menu-item><span><i nz-icon type="user"></i><span class="nav-text">nav 4</span></span></li>
      </ul>
    </nz-sider>
    <nz-content style="margin:24px 16px 0;">
      <div style="padding:24px; background: #fff; height: 340px;">
        Content
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
