nz-layout
  height: 100%

  root
    ant-layout
      height: 100%

nz-content
  box-sizing: border-box

app-sidebar
  flex: 0 0 200px
  max-width: 200px
  min-width: 200px
  width: 200px
  background: #fff

nz-sider
  background: #fff
